@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-scroller">
    <div class="container-scroller mt-5">
        <div class="card col-lg-6 mx-auto form-style">
            <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Вход в системата</h3>
                <div asp-validation-summary="All" class="text-danger"></div>
                <form id="account" method="post">
                    <div class="form-group">
                        <label asp-for="Input.UserName"></label>
                        <input asp-for="Input.UserName" class="form-control" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    @*<div class="d-flex mt-2">
                            <button class="btn btn-facebook btn-social col mr-2">
                                <i class="mdi mdi-facebook"></i> Facebook
                            </button>
                            <button class="btn btn-google btn-social col">
                                <i class="mdi mdi-google-plus"></i> Google plus
                            </button>
                        </div>*@
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block enter-btn">Вход</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Забравена парола?</a>
                        </p>
                        <p>
                            <a asp-area="" asp-controller="User" asp-action="Create">Регистрирай нов потребител</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
