@model CreatePropertyServiceModel

@{
    this.ViewData["Title"] = "Добавяне на имот към адрес";
}

<div class="container-scroller">
    @if (Model.PropertyCount > 0)
    {
        <div class="alert alert-danger mt-2" role="alert">
            Не са въведени данните за @Model.PropertyCount имота!
        </div>
    }
    <div class="container-scroller mt-3">
        <div class="card col-lg-6 mx-auto form-style">
            <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">@ViewData["Title"]</h3>
                <div asp-validation-summary="All" class="text-danger"></div>
                <form method="post">
                    <hr />
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PropertyType"></label>
                        <select asp-for="PropertyType" asp-items="@Model.PropertyTypes" class="form-control simpleSelect2"></select>
                        <span asp-validation-for="PropertyType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fees"></label>
                        <select asp-for="Fees" asp-items="@Model.MonthFees" class="form-control simpleSelect2" name="fees[]" multiple="multiple" required></select>
                        <span asp-validation-for="Fees" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ResidentsCount"></label>
                        <input asp-for="ResidentsCount" class="form-control p_input">
                        <span asp-validation-for="ResidentsCount" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary btn-block enter-btn" value="Добави" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
