@model EditPropertySevriceModel

@{
    this.ViewData["Title"] = "Редактиране на имот";
}

<div class="container-scroller">
    <div class="container-scroller mt-3">
        <div class="card col-lg-6 mx-auto form-style">
            <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">@this.ViewData["Title"]</h3>
                <form method="post" col-lg-8 offset-2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <input asp-for="Id" value="@Model.Id" type="hidden" />
                    <div class="form-group">
                        <label asp-for="PropertyTypeName"></label>
                        <select asp-for="PropertyTypeName" asp-items="@Model.PropertyTypes" class="form-control"></select>
                        <span asp-validation-for="PropertyTypeName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ResidentsCount"></label>
                        <input asp-for="ResidentsCount" class="form-control p_input">
                        <span asp-validation-for="ResidentsCount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate"></label>
                        <input asp-for="StartDate" type="date" class="form-control p_input">
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="text-center mt-4">
                        <input type="submit" class="btn btn-primary btn-block enter-btn" value="Промени" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}