@model PagingServiceModel

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a asp-route-currentPage="@Model.MaxPages" class="page-link" >Предходна</a>
        </li>
        <li class="page-item"><a asp-route-currentPage=1 class="page-link">1</a></li>
        <li class="page-item"><a asp-route-currentPage=2 class="page-link">2</a></li>
        <li class="page-item"><a asp-route-currentPage=3 class="page-link">3</a></li>
        <li class="page-item">
            <a asp-route-currentPage="@Model.MaxPages" class="page-link">Следваща</a>
        </li>
    </ul>
</nav>
